bin/
build/
out/
target/
*.class
*.log
hs_err_pid*
replay_pid*
.metadata/
RemoteSystemsTempFiles/
.recommenders/
*.launch
.vscode/
.idea/
*.iml
*.ipr
*.iws
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
._*
*~
*.bak
*.orig
*.tmp

